<% layout('boilerplate/commonContent') %>
    <nav id="mainNav" class="navbar mb-2 navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-2" href="/"><i class="fa fa-globe"></i>  NewsBin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/articles/postArticle">Post</a>
                    
                    <% if(factor==0){ %>
                        <a class="nav-link" href="/userRegistration">Register</a>
                        <% } %>  
                </div>
                <div class="navbar-nav" style="margin-left: auto;padding-right: 13px;">
                    <% if(factor==0) { %>
                        <a class="nav-link" href="/logIn">Log In</a>
                        <% }else if(factor==1) { %>
                          <a class="nav-link" href="/profile"><i class="fa fa-user" style="font-size:25px"></i></a>
                          <a class="nav-link" href="/logOut">Log Out</a>
                            <% } %>  
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container py-2">
        <div class="row"> 
            <div class="col-1"></div>
            <div class="col-12 col-sm-12 col-md-10">
                <% if(successMessage.length>0) {%>
                    <div class="alert  alert-success alert-dismissible fade show text-center" role="alert">
                        <strong> SUCCESS : </strong>
                        <%= successMessage %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <% if(infoMessage.length>0) {%>
                    <div class="alert  alert-info alert-dismissible fade show text-center" role="alert">
                        <strong> MESSAGE : </strong>
                        <%= infoMessage %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <% if(articles.length == 0 ){ %>
                    <h1 class="text-center" style="font-family: 'Nunito', sans-serif;color: white;">No article posted yet</h1>
                <% } else { %> 
                    <form class="row ValidForm"  novalidate method="POST" action="/articles/findBySearhTerm/1" autocomplete="off">
                      <div class="input-group mb-2">
                          <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="search by author/title" required>
                          <button class="btn btn-success" type="submit" id="searchBtn">Search</button>
                      </div>   
                    </form>
                    <% if(factor==1) {%>
                    <div class="mb-2" style="display: flex;justify-content:space-between;">
                        <a class="btn btn-info py-2" href="/articles/favourites/<%= user._id %>/1" style="font-family:'Nunito', sans-serif;flex:1 1 50%;margin-right: 7px;">Favourites</a>
                        <a class="btn btn-info py-2" href="/articles/showAll/1" style="font-family:'Nunito', sans-serif;flex:1 1 50%;">Recent Posts</a>
                    </div>
                <% } %>
                <% for(let i = 0; i < articles.length; i++) { %>
                    <div class="card mb-2 bg-info">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="<%= articles[i].image %>" style="height:100%;width:100%" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                
                            <h2 style="font-family:'Nunito', sans-serif;" class="card-title text-dark"><%= articles[i].title %>   
                            </h2>
                               <h6 class="card-title"> <span class="badge bg-dark text-light "><%= articles[i].uploadDate %> </span></h6>
                              <p class="card-text text-dark" style="font-family: 'Nunito', sans-serif;"><%= articles[i].content %> </p>
                              <div class="mt-4 mb-0" >
                                  <a class="btn btn-dark px-4" style="font-family: 'Nunito', sans-serif;"  href="/articles/<%= articles[i]._id %>">Read More</a>
                                  <% if(factor == 1 && user.Username == articles[i].owner) {%>
                                    <a  class="btn btn-danger px-4"  style="font-family: 'Nunito', sans-serif; "  href="/profile"><i class="fa  fa-user"></i>  Author  </a>
                                    <% } else{ %> 
                                        <a  class="btn btn-danger px-4"  style="font-family: 'Nunito', sans-serif; "  href="/profile/<%= articles[i].owner %>"><i class="fa fa-user"></i>  Author </a>
                                        <% } %>
                                        <% if(factor==1){ %>                                             
                                            <a id="likes" type='button' class="btn btn-success px-4 position-relative" href="/articles/addToFavourites/<%= articles[i]._id %>/<%= user.Username %>">
                                            Likes 
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    <%= articles[i].likes.length %> 
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                                    </a>
                                            <% } else {%>
                                                <a id="likes" type='button' class="btn btn-success disabled px-4 position-relative">
                                                    Likes 
                                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                                    <%= articles[i].likes.length %> 
                                                                    <span class="visually-hidden">unread messages</span>
                                                                  </span>
                                                            </a>
                                                <% } %>                      
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } %>  
                    <% } %> 
            </div>
            <div class="col-1"></div>
        </div>
        <% if(articles.length > 0) { %>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
                        <% if(numberOfPages > 1 && pageIndex <= numberOfPages && pageIndex > 1)  { %>
                            <a type="button" href="/articles/showAll/<%= (+pageIndex-1) %>" class="btn btn-outline-light">Previous page</a>
                        <% } %>
                        <% if(pageIndex < numberOfPages)  { %>
                            <a type="button" href="/articles/showAll/<%= (+pageIndex+1) %>" class="btn btn-outline-light">Next page</a>
                        <% } %>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        <% } %>    
    </div>


  