<% layout('boilerplate/commonContent') %>
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-2" href="/"><i class="fa fa-globe"></i> NewsBin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    
                    <a class="nav-link" href="/articles">Articles</a>
                    
                </div>
                <div class="navbar-nav" style="margin-left: auto;padding-right: 13px;">
                    <a class="nav-link" href="/profile"><i class="fa fa-user" style="font-size:25px"></i></a>
                    <a class="nav-link" href="/logOut">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-5 col-lg-5 col-12">
                <div class="card" style="background-color:#e5eff7">
                    <img src="<%= displayArticle.urlToImage %> " class="card-img-top img-fluid" style="height:275px" alt="...">
                    <div class="card-body">
                      <h3 style="font-family:'Nunito', sans-serif ;" class="card-title"><%= displayArticle.title %> </h3> 
                      <span class="badge rounded-pill px-3 py-2 bg-danger"> <%= displayArticle.source.name %>  </span>
                      <p id="content" class="card-text" style="font-size:16px;"><%= displayArticle.description %> </p>
                    </div>
                    <div class="card-footer" style="display: flex;justify-content:space-between;">
                        <a class="btn btn-success" style="font-family:'Nunito', sans-serif;flex: 1 1 50%;" href="/news">
                          Daily news
                        </a>
                    </div>  
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12 py-1">
                <% if(success.length > 0) { %>
                    <div class="alert  alert-success alert-dismissible fade show text-center" role="alert">
                        <%= success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>   
                <div class="alert  alert-info alert-dismissible fade show text-center" role="alert">
                    Click the daily news button to get latest ideas and topics for your upcoming blog. Happy posting. 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>    
                <form class="ValidForm" novalidate autocomplete="off" action="/articles/postArticle" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-1">
                        <input maxlength="30" type="text" class="form-control" name="subject" id="sub" placeholder="name@example.com" required>
                        <label for="sub">Article Subject</label>
                        
                      </div>
                      <div class="form-floating mb-1">
                        <textarea class="form-control" maxlength="1500" placeholder="Leave a comment here" name="body" required id="floatingTextarea2" style="height: 225px"></textarea>
                        <label for="floatingTextarea2">Article Content</label> 
                         
                      </div>
                      <div class="input-group mb-2">
                        <input type="file" class="form-control" required name="articlePic" id="dp" >
                        <label class="input-group-text" for="dp">Picture</label>   
                                  
                      </div>
                      <div>
                        <button class="btn btn-info py-2" style="width:100%;font-family: 'Nunito', sans-serif;">UPLOAD</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    