<% layout('boilerplate/commonContent') %>
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark  sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-2" style="color: cyan;" href="/"><i class="fa fa-globe"></i> NewsBin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/articles/postArticle">Post</a>
                   
                    <a class="nav-link " href="/articles/showAll/1">Articles</a>
                </div>
                <div class="navbar-nav" style="margin-left: auto;padding-right: 13px;">
                    <a class="nav-link" href="/logIn">Log In</a>
                </div>
            </div>
        </div>
    </nav>
    <div   class="container py-1">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 col-12 py-2">
                <% if(errorMsg.length > 0 || infoMsg.length > 0) { %>
                    <div class="modal" id="demomodal" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content" style="background-color: #c85335;">
                            <div class="modal-body">
                              <h5 style="font-family: 'Nunito', sans-serif;"><%= errorMsg.length > 0 ? errorMsg : infoMsg  %></h5>
                            </div>
                            <div class="modal-footer py-1">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                            </div>
                          </div>
                        </div>
                    </div>
                <% } %>
                <div class="card mb-3" style="border-bottom: 1px solid rgb(110, 109, 109);">
                    <img src="https://images.unsplash.com/photo-1618060932014-4deda4932554?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  class="card-img-top" height="270">
                    <div class="card-body">
                        <div class="text-center mb-3"><h3 class="card-title" style="font-family:'Nunito', sans-serif;">Password Reset</h3></div>
                        <% if(infoMsg.length == 0 && username.length == 0) { %>
                            <form autocomplete="off" method="POST" action="/generateOtpForForgotPassword" class="ValidForm" novalidate>
                                <div class="form-floating mt-2 mb-1">
                                    <input type="text" class="form-control"  id="username" name="username" placeholder="enter your username" required>
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="enter your new password" required>
                                    <label for="newPassword">New password</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirm password" required>
                                    <label for="confirmPassword">Confirm new password</label>
                                </div>
                                <div class="text-center">
                                    <button style="width: 100%;" class="btn btn-success mt-1 btn-block py-2">Generate OTP</button>
                                </div>
                            </form>
                        <% } else { %>
                            <form autocomplete="off" method="POST" action="/checkOtpForResettingPassword/<%= username %>">
                                <div class="form-floating mt-2 mb-1">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="enter your username" readonly value="<%= username %>">
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="enter your new password" readonly value="<%= newPassword %>">
                                    <label for="newPassword">New password</label>
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirm password" readonly value="<%= confirmPassword %>">
                                    <label for="confirmPassword">Confirm new password</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="OTP" name="OTP" placeholder="enter OTP">
                                    <label for="OTP">OTP</label>
                                </div>
                                <div class="text-center">
                                    <button style="width: 100%;" class="btn btn-success mt-1 btn-block py-2">Verify OTP</button>
                                </div>
                            </form>
                        <% } %>    
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
    <script>
        const x = new bootstrap.Modal('#demomodal');
        window.addEventListener('DOMContentLoaded', () => {
            x.show();
        })
    </script>
