<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily News</title>
    <style>
         #mainNav .navbar-brand {
            color:cyan;
            font-size: 30px;
        }

        #mainNav .nav-link {
            font-size: 20px;
            color: white;
            transition: 0.4s ease-in-out;
        }

        .navbar {
            font-family: 'Nunito', sans-serif;
        }

        #mainNav .nav-link:hover{
            text-decoration: underline;
        }
        .card{
            color:aliceblue;
            transition: 0.3s ease-in-out;
        }
        .card:hover{
            cursor: pointer;
        }
        body{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463__480.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat&family=Eczar&family=Josefin+Slab:wght@600&family=Nunito&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="d-flex flex-column vh-100" >
    <nav id="mainNav" class="navbar navbar-expand-lg  navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-2" href="/"><i class="fa fa-globe"></i> NewsBin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/articles">Articles</a>
                </div>
                <div class="navbar-nav" style="margin-left: auto;padding-right: 13px;">
                    <form novalidate autocomplete="off" class="d-flex ValidForm" method="post" action="/everything">
                        <input class="form-control me-2" type="search" required placeholder="search news" name="topic" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </form>  
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container py-5">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-md-10 col-sm-12 col-12">
               
                <div class="row g-3 mb-2">
                    <form action="/headlines/country" class="d-flex ValidForm" method="post">
                    <span class="col-9">
                        <select name="selectedCountry" class="form-select py-2" aria-label="Default select example" required>
                            
                            <option value="ar">Argentina</option>
                            <option value="au">Australia</option>
                            <option value="at">Austria</option>
                            <option value="be">Belgium</option>
                            <option value="br">Brazil</option>
                            <option value="bg">Bulgaria</option>
                            <option value="ca">Canada</option>
                            <option value="cn">China</option>
                            <option value="co">Colombia</option>
                            <option value="cz">Czech Republic</option>
                            <option value="fr">France</option>
                            <option value="de">Germany</option>
                            <option value="gr">Greece</option>
                            <option value="hk">Hong Kong</option>
                            <option value="hu">Hungary</option>
                            <option value="in" selected>India</option>
                            <option value="il">Israel</option>
                            <option value="it">Italy</option>
                            <option value="jp">Japan</option>
                            <option value="my">Malaysia</option>
                            <option value="mx">Mexico</option>
                            <option value="nz">New Zealand</option>
                            <option value="ng">Nigeria</option>
                            <option value="no">Norway</option>
                            <option value="ph">Philippines</option>
                            <option value="pl">Poland</option>
                            <option value="pt">Portugal</option>
                            <option value="ro">Romania</option>
                            <option value="ru">Russia</option>
                            <option value="sa">Saudi Arabia</option>
                            <option value="rs">Serbia</option>
                            <option value="sg">Singapore</option>
                            <option value="sk">Slovakia</option>
                            <option value="za">South Africa</option>
                            <option value="kr">South Korea</option>
                            <option value="se">Sweden</option>
                            <option value="ua">Ukraine</option>
                            <option value="gb">United Kingdom</option>
                            <option value="us">United States</option>
                          </select>
                        </span>
                        
                      <button class="col-3 btn mx-1 btn-success"><i class="fa fa-search"></i> Search</button>
                    
                    </form>
                  </div>
                <% for(let i=0;i<articles.length;i++) { %>
                    <div class="card mb-2 bg-info">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="<%= articles[i].urlToImage %>" style="height:100%;width:100%" class="img-fluid " alt="cannot get image">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h4 lang="en" class="card-title text-dark mb-1" style="font-family:'Nunito', sans-serif;"><%= articles[i].title %> </h4> 
                              <span class="badge rounded-pill px-3 py-2 bg-success" style="font-family: 'Nunito', sans-serif;;"> <%= articles[i].source.name %>  </span>
                              <span class="badge rounded-pill px-3 py-2 bg-danger mx-1"> &#128345; <%= temp[i] %>  </span>
                              <p lang="en" class="card-text text-dark mt-1"><%= articles[i].description %> </p>
                              <div class="mt-4">
                                  <a class="btn btn-dark btn-sm px-3" style="font-family: 'Nunito', sans-serif;;" href="<%= articles[i].url %>">Read More <i class="fa fa-book"></i></a>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } %>    
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center col-12">
                <a class="rounded-pill btn-sm px-4 py-2 btn btn-light" href="/category/entertainment/<%= country %>">Entertaiment</a>
                <a class="rounded-pill btn-sm px-4 py-2 btn btn-light" href="/category/sports/<%= country %>">Sports</a>  
                <a class="rounded-pill btn-sm px-4 py-2 btn btn-light" href="/category/business/<%= country %>">Business</a>
                <a class="rounded-pill btn-sm px-4 py-2 btn btn-light" href="/category/science/<%= country %>">Science</a>
                <a class="rounded-pill btn-sm px-4 py-2 btn btn-light" href="/category/technology/<%= country %>">Technology</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    


    <footer class="footer py-2  mt-auto">
        <div class="container ">
         <span class="text-light">&copy;  NewsBin 2022</span>
        </div>
     </footer>
    
    <script>
        (function () {
            'use strict'


            const forms = document.querySelectorAll('.ValidForm')


            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>